{% extends 'base.html' %}

{% block title %} Sistem {% endblock %}

{% block css %}
.detail {
    color: white;
    height: 30px;
    border-radius: 3px;
    background-color: #1CA1C1;
    font-size:11px!important;
}
.detail:hover{
    transform:scale(1.2);
    cursor:pointer;             
}
{% endblock %}

{% block variabel %}



let formFilterStock = {
    view:"form",
    id:"formfilterdatalegaldokumen",
    maxWidth:600,
    minWidth:420,
    elements:[
        { id: "", label: "Produk", name: "namabranch", view: "text", labelWidth: 130, readonly: true, css:"textBoxYellow", on:{onItemClick : function(){ clickTextBranch(); }}, },
    ],
    rules:{
    },
};

let masterpenerimaanButton = {
    view:"toolbar",
    borderless:true,
    elements: [
        {},
        {},
        {},
        {
            view:"button",
            label:"Download Report",
            width:115,
            css:"webix_primary",
            hover:"tambahData"
        },
        {width:10},
    ]
}


{% endblock %}

{% block content %}

{
    view:"scrollview",
    scroll:"auto",
    id:"contentpage",
    body:{
        type:"space",
        rows: [
            {
                borderless:true,
                template: "<h3>Report (Belum berjalan)</h3><br>",
                height: 60,
            },
            {
                type:"clean",
                rows:[
                    {
                        type:"form",
                        borderless:true,
                        rows:[
                            {height:2},
                            {cols:[{width:2},formFilterStock,{width:2}]},
                            masterpenerimaanButton,
                            {autoheight:true},
                        ] 
                    }
                ]
                
            },
            {height:15},
        ]
    }

},


{% endblock %}

{% block variabelBottom %}


{% endblock %}